@import 'node_modules/vui-typography/typography.scss';
@import '../input.scss';
@import '../input-checkbox.scss';
@import '../input-radio.scss';
@import '../search.scss';
@import '../select.scss';
@import '../textarea.scss';
@import '../input.css.scss';

html {
	font-size: 20px;
}
body {
	@include vui-typography();
	margin: 1rem;
}
table {
	max-width: 1000px;
}
td, th {
	padding: 0.5rem;
}
td {
	text-align: center;
}

.on {
	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"] {
		@include vui-input();
	}
	input[type="checkbox"] {
		@include vui-input-checkbox();
	}
	input[type="radio"] {
		@include vui-input-radio();
	}
	select {
		@include vui-input-select();
	}
	textarea {
		@include vui-input-textarea();
	}
}

.search {
	@include vui-input-search-container();
}
.search-button {
	@include vui-input-search-button();
}
.clear-button {
	@include vui-input-search-clear-button();
}

.screenshot {
	display: inline-block;
}
