@import '../input.scss';
@import '../input-checkbox.scss';
@import '../select.scss';
@import '../textarea.scss';
@import '../input.css.scss';

@import 'https://fonts.googleapis.com/css?family=Lato:400,300';

html {
	font-size: 20px;
}
body {
	font-family: 'Lato', sans-serif;
	margin: 1rem;
}
table {
	max-width: 1000px;
}
td, th {
	padding: 0.5rem;
}
td {
	text-align: center;
}

.on {
	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"] {
		@include vui-input();
	}
	input[type="checkbox"] {
		@include vui-input-checkbox();
	}
	select {
		@include vui-input-select();
	}
	textarea {
		@include vui-input-textarea();
	}
}
