@import 'bower_components/vui-colors/colors.scss';
@import 'bower_components/vui-focus/focus.scss';
@import 'bower_components/vui-typography/px-to-base-rem.scss';

@mixin vui-input() {

		background-color: $vui-color-white;
		border: 1px solid $vui-color-titanius;
		border-radius: px-to-base-rem(8);
		box-shadow: inset 0 3px 0 0 $vui-color-woolonardo;
		box-sizing: border-box;
		color: $vui-color-ferrite;
		display: inline-block;
		font-family: inherit;
		font-size: inherit;
		font-weight: 300;
		height: auto;
		line-height: normal;
		margin: 0;
		padding: px-to-base-rem(8);
		transition: border-color 0.5s ease;
		vertical-align: middle;
		width: 100%;

		&:hover {
			border-color: $vui-color-pressicus;
		}

		&:focus {
			border-color: $vui-color-celestine;
			border-width: 2px;
			outline-width: 0;
			padding: calc(0.4rem - 1px);
		}

		&:disabled,
		&:hover:disabled {
			opacity: 0.5;
		}

}
