@mixin vui-input-checkbox() {

	border: none;
	border-radius: 0;
	background-color: transparent;
	box-shadow: none;
	box-sizing: border-box;
	display: inline-block;
	margin: 0;
	padding: 0;
	width: auto;

	&:focus {
		@include vui-focus-outline();
	}

}
