@import 'bower_components/vui-colors/colors.scss';
@import 'bower_components/vui-focus/focus.scss';
@import 'bower_components/vui-typography/px-to-base-rem.scss';

$vui-input-borderRadius: px-to-base-rem(8) !default;
$vui-input-color: $vui-color-ferrite !default;
$vui-input-padding: px-to-base-rem(8) !default;

@mixin vui-input() {

		background-color: $vui-color-white;
		border: 1px solid $vui-color-titanius;
		border-radius: $vui-input-borderRadius;
		box-shadow: inset 0 3px 0 0 $vui-color-woolonardo;
		box-sizing: border-box;
		color: $vui-input-color;
		display: inline-block;
		font-family: inherit;
		font-size: inherit;
		font-weight: 300;
		height: auto;
		line-height: normal;
		margin: 0;
		padding: $vui-input-padding;
		transition: border-color 0.5s ease;
		vertical-align: middle;
		width: 100%;

		&:focus {
			border-color: $vui-color-celestine;
			border-width: 2px;
			outline-width: 0;
			padding: px-to-base-rem(7);
		}

		&:disabled {
			background-color: $vui-color-regolith;
			border-color: $vui-color-titanius;
			opacity: 0.5;
		}

}
