@import 'input';

#vui {

	.Input {

		.radio() {

			#vui.Input(
					@padding: 0,
					@backgroundColor: transparent,
					@borderStyle: none,
					@boxShadow: none,
					@minHeight: 0,
					@width: auto
				);

			&:focus {
				#vui.focusOutline();
			}

		}

	}

}
